.footer-background {
  background-color: #675cb0;
  color: #fff;
  width: 100%;
}

.nabvar-background {
  background-color: #675cb0;
  color: #fff !important;
}

.hyperlink {
  cursor: pointer;
}

.hyperlink2 {
  cursor: pointer;
}

.hyperlink2:hover {
  text-decoration: underline;
}

.card-img {
  border-radius: 10%;
}

.modal-content {
  background-color: #675cb0;
  color: #fff
}

.react-strap-table{
  border: 3px solid #675cb0;
}

.table-hover tbody tr:hover {
  color: #ffffff !important;
  background-color: #9888ff;
}

.table-header thead th {
  background-color: #675cb0;
  color: #ffffff !important;
  border: 1px solid #ffffff;
}
