.footer-background {
  background-color: #675cb0;
  color: #fff;
  width: 100%;
}

.nabvar-background {
  background-color: #675cb0;
  color: #fff !important;
}

.hyperlink {
  cursor: pointer;
}

.hyperlink2 {
  cursor: pointer;
}

.hyperlink2:hover {
  text-decoration: underline;
}

.card-img {
  border-radius: 10%;
}

.modal-content {
  background-color: #675cb0;
  color: #fff
}
